

.titulo-brand {
    font-size: 3rem;

}


.bus-catering-naranja {
    font-size:.75em;
    color: $color-2brand;

    }


.texto-nosotros {
    font-size: 1.5rem;
    text-align: left;
}

.titulo-nosotros-highlight {
    text-align: left;
}

.texto-nosotros-highlight {
    font-size: 1.2rem;
    text-align: left;
}
